@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
}

.link:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.helper-container {
  display: flex;
  justify-content: space-between;
}
.helper-data {
  padding: 0 10px;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

